// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

body
    background: #111
    color: #DDD
    padding-top: 14%

h1 
    font-size: 50px
    
#account-list
    padding: 2em
    
    .account
        margin: 1em 0

#content
    padding: 2em

    .dropdown-toggle
        width: 300px
        font-size: 20px
        padding: 10px

    input
        margin 0
        font-size: 20px
        padding: 5px

    .password-field
        font-size: 20px
        margin-top: 2px
        margin-left: 5px
        margin-right: 5px
        padding: 10px
        height: 40px


    button.btn
        font-size: 20px
        padding: 9px
        margin-top: 2px
