// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

body
    background: radial-gradient(ellipse at center, #4c4c4c 0%,#4c4c4c 0%,#595959 0%,#666666 0%,#474747 23%,#111111 56%,#131313 100%)
    color: #DDD
    text-align: center
    padding-top: 14%
    
#content
    padding: 2em

#account-list
    padding: 2em
    
    .account
        margin: 1em 0

        .title
            font-weight: bold
