#content 
    h1 Boonk
    #create-account-form
        input.bank-field(placeholder="bank")
        input.login-field(placeholder="login")
        input.password-field(placeholder="password", type="password")
        button.btn.create-button create
    div#account-list


    button.btn.balance-button display account balances
    div#balance-list
