#content 
    h1 Boonk
    h2 ton argent dans ton cloud
    hr
    h3 Tes banques
    #create-account-form.inline-form
        .btn-group.pull-left
            a.btn.dropdown-toggle.bank-field(data-toggle="dropdown", href="#")
                | ta banque
            ul.dropdown-menu
                li 
                    a(href="#") Axa Banque
                li
                    a(href="#") Barclays
                li
                    a(href="#") BNP Paribas
                li
                    a(href="#") Barclays
                li
                    a(href="#") Boursorama
                li
                    a(href="#") Banque Populaire
                li
                    a(href="#") Banque Postale
                li
                    a(href="#") Bred
                li
                    a(href="#") Caisse d'Epargne
                li
                    a(href="#") Carrefour Banque
                li
                    a(href="#") CIC
                li
                    a(href="#") Crédit Agricole
                li
                    a(href="#") Credit Coopératif
                li
                    a(href="#") Crédit Mutuel
                li
                    a(href="#") Crédit Mutuel Bretagne
                li
                    a(href="#") Crédit Mutuel Sud Ouest
                li
                    a(href="#") Fortuneo
                li
                    a(href="#") Ganassurances
                li
                    a(href="#") HSBC
                li
                    a(href="#") ING
                li
                    a(href="#") LCL
                li
                    a(href="#") Société Générale
        input.login-field.input-small(type="text", placeholder="ton login")
        input.password-field.input-small(placeholder="ton mot de passe", type="password")
        button.btn.create-button.btn-info ajouter

    div#account-list.clearfix

    hr
    h3 Tes comptes
    table#balance-list.table.table-condensed.table-bordered
